/******************************************************************
Stylesheet: Desktop Stylsheet
******************************************************************/

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
  li {
    display: block;
    float: right;

    a {
      padding: 0 .75em;
    }
  }
}

/*********************
CONTENT
*********************/
#main {
}
#right-sidebar {
}
